*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

li{
 list-style: none;
}

/* NAVBAR */
nav{
	height: 100px;
	width: 100%;
}

.nav-list{
	margin:auto;
	height: 100%;
	width: 100%;
}

.nav{
	list-style: none;
	display: inline-block;
	font-size: 40px;
	background: #764d30;
	height: 100px;
	margin: auto;
	width: 19.5% !important;
	padding: 15px !important;
}

/* BACKGROUND IMAGE*/
.img-landing{
	position: absolute;
	left: 0px;
	top: 100px;
	z-index: -1;
}

/* BODY CONTENT */
.page-content{
	position: relative;
	left: 0px;
	top: 134px;
	z-index: 0;
	color: white;
	height: 658px;
}

/* INDEX */
.para-index{
	font-size: 87px;
	text-align: right;
}

/* ABOUT */
.para-about{
	font-size: 20px;
  text-align: justify;
}

/* COFFEE */
.para-coffee{
	float:left;
	font-size: 20px;
	text-align: justify;
}
.coffee::after{
	clear:both;
	display: table;
	content:"";
}
.coffee-filter{
	width:50%;
	float: left;
}

.filter{
	width: 100%;
}

/* CONTACT FORM */
/* #name{
	margin-left: 12px;
}
#email{
	margin-left: 17px;
}
#submit{
	width:100px;
	height:40px;
} */

/* FOOTER */
footer{
	position: relative;
	left: 0px;
	top: 134px;
	z-index: 0;
	height: 100px;
	background: white;
	text-align: center;
	padding: 20px;
	margin: 20px 0;
}
.para-footer{
	color: #d39e00;
	font-size: 10px;
}